@use "@/styles/mixin.scss" as *;

.hero {
    text-align: center;
    max-width: 780px;
    margin: 0 auto 64px;

    @include responsive("table") {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: -0.04em;
        line-height: 110%;
        margin-bottom: 24px;

        @include responsive("mobile") {
            font-size: 36px;
        }
    }

    p {
        font-size: 16px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 40px;
    }
}
