@use "@/styles/mixin.scss" as *;

.text__wrapper {
  margin-bottom: 30px;
  max-width: 520px;

  @include responsive("table") {
    margin-bottom: 15px;
  }

  @include responsive("mobile") {
    max-width: 340px;
  }

  &--title {
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -4%;
    line-height: 120%;
    margin-bottom: 24px;

    @include responsive("mobile") {
      font-size: 30px;
      letter-spacing: 0%;
    }
  }

  &--description {
    opacity: 60%;
    font-size: 16px;
    font-weight: 400;
  }
}
