@use "./mixin" as *;
@use "./vars" as *;
@use "./fonts";

html,
body {
  font-family: var(--font);
  font-weight: 400;
  font-size: var(--font-size-default);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

ul {
  li {
    a {
      text-decoration: none;
      color: var(--black-color);
      opacity: 1;
      transition: opacity 0.1s ease-in;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

.container {
  max-width: var(--container-width);
  padding-inline: 20px;
  width: 100%;
  margin: 0 auto;

  @include responsive("table") {
    padding-inline: var(--container-padding);
  }
}
