:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #e7fafe;
  --gray-color: rgb(235, 235, 235);
  --font: "Inter";
  --font-size-default: 16px;
  --container-width: 1280px;
  --container-padding: 20px;
}
