@use "@/styles/mixin.scss" as *;

.section {
    margin-top: 160px;
    margin-bottom: 80px;

    @include responsive("table") {
        margin-top: 80px;
        margin-bottom: 48px;
    }

    h2 {
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -0.04em;
        text-align: center;
        margin-bottom: 64px;

        @include responsive("mobile") {
            font-size: 32px;
            margin-bottom: 32px;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    > * {
        min-width: 0;
    }

    @include responsive("table") {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    @include responsive("mobile") {
        grid-template-columns: 1fr;
    }
}
