@use "@/styles/vars.scss" as *;
@use "@/styles/mixin.scss" as *;

.banner__wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 640px;

  &--sticker {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;

    @include responsive("table") {
      top: 40%;
    }

    @include responsive("mobile") {
      display: none;
      overflow: hidden;
    }
  }

  @include responsive("table") {
    flex-direction: column;
    min-height: 640px;
    height: auto;
  }

  @include responsive("mobile") {
    height: 300px;
  }

  &--left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 50px;
    max-width: 50%;
    width: 100%;
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;

    .banner__left--info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;
    }

    @include responsive("table") {
      border-top-right-radius: 50px;
      border-bottom-left-radius: 0px;
      max-width: 100%;
      padding: 20px;
    }
  }

  &--right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    max-width: 50%;
    width: 100%;
    background-color: blue;

    @include responsive("table") {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 50px;
      max-width: 100%;
    }
  }
}
