/* stylelint-disable */
@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src:
      url("../../assets/fonts/woff2/#{$url}.woff2") format("woff2"),
      url("../../assets/fonts/woff/#{$url}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}
